.videos-holder {
  margin-top: 100px;
}
.intro {
  background: url('../img/Bart-1.jpg') no-repeat;
  background-color: white;
  background-position: bottom;
  color: black
}
body {
  background-color: white;
  color: black;
}
.btn-circle {
  color: black;
  border-color: black;
}
