@font-face {
	font-family: champagne;
	src: url('fonts/champagne_limousines/Champagne & Limousines.ttf');
}

@font-face {
	font-family: champagne;
	src: url('fonts/champagne_limousines/Champagne & Limousines Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: champagne;
	src: url('fonts/champagne_limousines/Champagne & Limousines Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: champagne;
	src: url('fonts/champagne_limousines/Champagne & Limousines Bold Italic.ttf');
	font-style: italic;
	font-weight: bold;
}







body {
	background: url('../img/oscars.jpg') no-repeat;
}
#container { font-family: champagne; }
#container2, #container, #container3, #container4 {
	height:1100px;
	width:100%;
	
}

#container2 { background: #9b70c0;}	
#container3 { background: #000;}
#container4 { background: #a9a9a9;}


/* footer stuff */
.footer {
	position: fixed;
	bottom: 0;
	background: #000;
	width: 100%;
	height: 40px;
	left: 0;
}


.footer img {
	float: right;
	background-color: black;
}


.main-title {
	text-align: center;
	margin: 25px 0;
}

.sample-text {

	margin-top: 15px;

}

#nav {

	width: 50%;
	margin: 0 auto;
	font-weight: bold;
}

#nav > div {
	width: 25%;
	float: left;
	text-align: center;
	margin-top: 15px;
}

