body {
	background-image:url('../img/bedge_grunge.png');
	
}

#idea {
    height: 100px;
    width: 100px;
    background-color: black;
}
.footer {
	position: fixed;
	bottom: 0;
	background: #000;
	width: 100%;
	height: 40px;
	left: 0;
}